<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <h1 class="text-center">Iniciar Sesión</h1>
        
        <form action="/usuario/login" method="post">
            <div class="form-group">
                <label for="email">email:</label>
                <input type="string" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="clave">Clave:</label>
                <input type="clave" id="clave" name="clave" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar Sesión" class="btn">
            </div>
        </form>
        
        <p th:if="${param.error}" class="error-message">Credenciales inválidas. Por favor, inténtalo nuevamente.</p>
        
        <div class="text-center">
            <a href="/" class="btn"><i class="fas fa-home"></i> Ir a Inicio</a>
        </div>
    </div>
</body>
</html>
