
/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #0066cc;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.back-button {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #eeeeee;
    color: #333333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons input[type="submit"] {
    flex-grow: 1;
    margin-right: 10px;
}

.buttons .back-button {
    flex-shrink: 0;
}

/* Iconos */
i {
    margin-right: 5px;
}

.error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}